VisualElement {}

Button {
    background-image: url(/Assets/Fantasy\ Wooden\ GUI\ \ Free/normal_ui_set\ A/TextBTN_Medium.png);
    color: white;

}
Button:active{
    background-image: url(/Assets/Fantasy\ Wooden\ GUI\ \ Free/normal_ui_set\ A/TextBTN_Medium_Pressed.png);
    background-color: transparent;
}
ListView {
    background-color:transparent;
}

.unity-list-view__item:hover{
    background-color: transparent;
}
